{% extends "index.html" %}

{% block content %}
    <h2 class="minhas-agendas-h2">Minhas Agendas</h2>

    <ul class="container-agenda-ul">
        {% for anotacao in anotacoes %}
            <li class="container-agenda-li">
                <h2>{{ anotacao.titulo }}</h2>
                <p class="data-hora">{{ anotacao.get_data_hora }}</p>
                <p>{{ anotacao.descricao }}</p>
                <a href="/delete-agenda/{{ anotacao.id }}" class="botao">EXCLUIR</a>
                <a href="/atualizar-agenda/{{ anotacao.id }}" class="botao">ATUALIZAR</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}