{% extends "index.html" %}

{% block content %}

    <h2>Olá, {{ usuario.username }}!<br>Seja bem-vindo(a) a sua agenda.</h2>
    <a href="/criar-agenda">CRIAR AGENDA</a>
    <ul>
        {% for anotacao in anotacoes %}
            <li>
                <h2>{{ anotacao.titulo }}</h2>
                <b>{{ anotacao.get_data_hora }}</b>
                <p>{{ anotacao.descricao }}</p>
                <a href="/delete-agenda/{{ anotacao.id }}"><button type="button">EXCLUIR</button></a>
                <a href="/atualizar-agenda/{{ anotacao.id }}"><button type="button">ATUALIZAR</button></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}