{% extends "index.html" %}

{% block content %}

    <h2>Atualizar Agenda</h2>

    <form action="submit" method="post"> {% csrf_token %}
        <input type="text" value="{{ anotacao.titulo }}" name="titulo">
        <input type="datetime-local" value="{{ anotacao.get_data_hora_input }}" name="data-hora">
        <textarea name="descricao">{{ anotacao.descricao }}</textarea>
        <button type="submit">ATUALIZAR</button>
        <a href="/"><button type="button">Voltar</button></a>
    </form>

    {% for mensagem in messages %}
        <strong>Erro: {{ mensagem }}</strong>
    {% endfor %}

{% endblock %}