<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra Usuário</title>
</head>
<body>
    <h1>Cadastra Usuário</h1>

    <form action="submit" method="post"> {% csrf_token %}
        <input type="text" name="nome-usuario">
        <input type="text" name="email">
        <input type="password" name="senha">
        <button type="submit">CRIAR USUÁRIO</button>
    </form>

    {% for mensagem in messages %}
        <strong>Erro: {{ mensagem }}</strong>
    {% endfor %}
</body>
</html>