{% extends "index.html" %}

{% block content %}

    <h2 class="criar-agenda-h2">Criar Agenda</h2>

    <form class="container-form" action="submit" method="post"> {% csrf_token %}
        <ul>
            <li><input placeholder="Título" type="text" name="titulo"></li>
            <li><input type="datetime-local" name="data-hora"></li>
            <li><textarea placeholder="Descrição" name="descricao"></textarea></li>
            <li><button type="submit">CRIAR</button></li>
        </ul>
    </form>

    {% for mensagem in messages %}
        <div class="erro">Erro: {{ mensagem }}</div>
    {% endfor %}

{% endblock %}