{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Django</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <h1>Agenda Django</h1>
        <h2>Olá, {{ usuario.username }}!</h2>
        <ul>
            <li><a href="/">AGENDAS</a></li>
            <li><a href="/criar-agenda">CRIAR AGENDA</a></li>
            <li><a href="/logout">SAIR</a></li>
        </ul>
    </header>
    
    {% block content %}
        <!-- Conteudo da Pagina -->
    {% endblock %}

    <footer>Agenda Django © 2023</footer>
</body>
</html>